<h1>登録完了！</h1>
<p>☆
<%= link_to("ホームへ戻る", "/shifts") %>
☆</p>
<% if @show_special_link2 %>
 <p>☆<%= link_to "シフト管理者登録確認はこちら", "/shifts/usersmanagermkshift" %>☆</p>

<% else%>
    <p>☆<%= link_to("シフト登録確認はこちら", "/shifts/mypage")%> ★</p>
<% end %>
 