<title>Hello Ruby</title>
<h1>Hello Ruby</title>
<p><hn>Ruby</hn></p>
<p>日本発祥のプログラミング言語であるRubyは、Web開発、スマホアプリ開発、スクレイピングなど、</p>
<p>さまざまな開発に利用されています。 </p>
<p>有志が開発した「Ruby on Rails」などの開発を強力にサポートするフレームワークなどを活用することで、</p>
<p>SNSなどの複雑性の高い開発も容易にします。</p>
<%= button_to "ボタン", {controller: 'shifts', action: 'index'}, {method: :get} %>
