<title>Hello Ruby</title>
<h1>シフト作成サービス</h1>
<h3>自分が働ける、曜日と時間を登録しておきましょう！！</h3>
<h1>今月のシフト</h1>
<table>
  <tr>
    <th>従業員名</th>
    <th>日付</th>
    <th>日付</th>
    <th>日付</th>
  </tr>
  <tr>
    <td>名前</td>
    <td>時間</td>
    <td>時間</td>
    <td>時間</td>
  </tr>
  <tr>
    <td>名前</td>
    <td>時間</td>
    <td>時間</td>
    <td>時間</td>
  </tr>
  <tr>
    <td>名前</td>
    <td>時間</td>
    <td>時間</td>
    <td>時間</td>
  </tr>
</table>

<%#<h3>☆<a href="http://localhost:3000/shifts/add">出勤条件の登録はこちら</a>☆</h3>%>
<h3>☆
<%= link_to("出勤条件の登録はこちら", "/shifts/add") %>
☆
<p>☆
<%= link_to("シフト登録確認はこちら", "/shifts/mypage")%>
★</p>
</h3>


